@import "@/styles/color.scss"; 


.simpleBlock {
    margin-top: 40px;
    margin-bottom: 40px;
}

.enableLineBreak {
    white-space: pre-wrap;
}

.title {
    text-align: center;
}

.icon {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}