@import "@/styles/color.scss"; 


.title {
    text-align: center;
    margin-bottom: 40px;
}

.canvas {
    position: relative;
    width: 100%;

    .everest {
        height: 400px;
    }

    .checkpoint {
        position: absolute;  
        width: 20px;
        height: 20px;
        background-color: white;  
    }    

    .one {
        left: 150px;
        top: 190px;
    }  

    .two {
        left: 210px;
        top: 130px;
    } 

    .three {
        left: 280px;
        top: 60px;
    } 

    .active {
        background-color: red;
    }

    .user {
        background-color: orange;
    }



    .point0 {
        left: 90px;
        top: 250px;
    }

    .point1 {
        left: 100px;
        top: 240px;
    }

    .point2 {
        left: 110px;
        top: 230px;
    }

    .point3 {
        left: 120px;
        top: 220px;
    }

    .point4 {
        left: 130px;
        top: 210px;
    }

    .point5 {
        left: 150px;
        top: 190px;
    }
}


.table {
    margin-top: 20px;

    .nonActiveText {
        color: grey;
    }
    
}



